<ul>
  <li>hoge1</li>
  <ul>
    <li>hoge2</li>
  </ul>
  <li>hoge3</li>
</ul>
<ul>
  <ul>
    <li>hoge4</li>
    <ul>
      <li>hoge5</li>
    </ul>
  </ul>
</ul>



<style>
.code {
  padding:0 10px 0 10px;
  background-color:#e9e9e9;
  border-radius:10px;
  border:solid 4px #5a5a5a;
  color:#373737;
}
</style>

<div class="code">
  <p>int main() {</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;cout << "hoge" << endl;</p>
  <p>}</p>
</div>

